body {
	font-family: 'Piazzolla', serif;
	background-color:#EEEEEE;
	margin:0 auto;
}
#svg_section{
    margin : 0 auto;
    max-width : 450px;	
}
#main_cont {
	margin: 0 auto;
    max-width: 70%;
	background-color : #393e46;
	border-radius: 12px;
	color : #00adb5;
	margin-top: -122px;
	padding: 25px
}
#main_cont img{
	width : 90%;
	padding-top: 12px;
	transition: transform .2s;
}
$main_cont img:hover{
	-ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}
ul{
	list-style: none;
}
 /*using this is making your div responsive in nature and aligned in the center:
  margin : 0 auto;
  max-width : 70%;*/

.container {
	margin-top: 60px;
}

#result_cont {
	margin: 0 auto;
    max-width: 70%;
	background-color : #393e46;
	border-radius: 12px;
	color : #00adb5;
	margin-top: -122px;
	padding: 25px;
	display : none;
	text-align: center;
}
#result_cont button {
    /* height: 29%; */
    background-color: #FFBA07;
    border: none;
    border-radius: 4px;
	display : block;
	margin-left: 42%;
    margin-top: 22px;
    width: 17%;
	margin-bottom: 14px;
}
#result_cont button:hover {
    background-color : #cc9400;
}
#result_cont img{
	margin : 0 auto;
	width:50%;
	margin-top: 12%;
	
}

@media (min-width: 0px) and (max-width: 650px) {
  #change_button {
    font-size : 12px;
	width : 20%;
	padding-left: 4px;
  }
  #result_cont a {
	  font-size : 12px;
	  margin-left : 4px;
  }
}